body {
	max-width: 120ch;
	margin: 5vh auto;
	font: 100%/1.5 Palatino Linotype, serif;
}

header>h1, header>h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

figcaption, p.status {
	font-style: italic;
	margin-left: 5em;
	margin-right: 5em;
	text-align: center;
}

p.status {
	margin-top: 1em;
}

dd>p:first-child {
	margin-top: 0;
}
