@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--font-sans: Inter, "Helvetica Neue", Helvetica, sans-serif;
	--font-serif: "Hoefler Text", Garamond, "Times New Roman", serif;
}

@media print {
	body {
		font: 13pt/1.5 var(--font-serif);
		max-width: 100ch;
		margin: 5vh auto;
	}
	h1, h2, h3, h4, h5, h6 {
		break-after: avoid;
	}
	figure {
		break-inside: avoid;
	}
	table {
		font: 12pt/1.5 var(--font-serif);
	}
}

@media screen {

body {
	max-width: 100ch;
	margin: 5vh auto;
	font: 120%/1.5 var(--font-serif);
	}
}

html {
	padding: 1em;
}


h1, h2, h3, h4, h5 {
	font-family: var(--font-sans);
	line-height: 1;
	letter-spacing: -0.03em;
}

a {
	color: hsl(220 30% 40%);
}

header > h1,
header > h2 {
	margin-left: auto;
	margin-right: auto;
	text-align: center
}

header > h1 {
	font-size: 300%;
}

header > h2 {
	line-height: 1.4;
}

	header > h2 .affiliation,
	header > h2 time {
		display: block;
		font-weight: 300;
		font-size: 80%;
	}

section > h2 {
	font-size: 160%;
	color: hsl(220 10% 40%);
}

p {
	text-align: justify;
	hyphens: auto;
}

figure {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid hsl(0 0% 80%);
	padding: 1em;
	counter-increment: figure;
}

	figure img {
		max-width: 100%;
	}

	figcaption,
	table caption {

	}

		figcaption::before {
			content: "Figure " counter(figure) ": ";
		}

		figcaption::before,
		table caption::before {
			color: hsl(220 10% 40%);
		}

figcaption,
p.status,
table > caption {
	font-style: italic;
	text-align: justify;
	text-align-last: center;
}

p.status {
	max-width: 80ch;
	margin: 1em auto 0;
	hyphens: manual;
}

dd > p:first-child {
	margin-top: 0;
}

table {
	width: 100%;
	border-spacing: 0;
	counter-increment: table;
	font-variant-numeric: lining-nums;
}

	table caption::before {
		content: "Table " counter(table) ": ";
	}

	th,
	td {
		padding: .3em .5em .2em;
	}

	thead th {
		border-bottom: 1px solid hsl(220 10% 70%);
		font: bold 90%/1 var(--font-sans);
	}

	tbody tr:nth-of-type(odd) {
		background: hsl(220 10% 97%);
	}

a[href=""], .todo {
	background: yellow;
}

p.equation {
	margin-left: 3em;
	font-size: 120%
}
