
@font-face {
	font-family: Charter;
	src: url(fonts/Charter%20Regular.woff) format("woff")
}
@font-face {
	font-family: Charter;
	font-weight: 700;
	src: url(fonts/Charter%20Bold.woff) format("woff")
}
@font-face {
	font-family: Charter;
	font-style: italic;
	src: url(fonts/Charter%20Italic.woff) format("woff")
}
@font-face {
	font-family: Charter;
	font-style: italic;
	font-weight: 700;
	src: url(fonts/Charter%20Bold italic.woff) format("woff")
}

:root {
	--content-width: 37rem;
	--font-body: Charter, Cambria, 'Droid Serif', serif;
	--font-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

body {
	display: flex;
	flex-flow: column;
	margin: 0;
	min-height: 100vh;
	font: 115%/1.6 Charter, Cambria, 'Droid Serif', serif;
	font: 115%/1.6 var(--font-body);
}

code {
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
	font-family: var(--font-mono)

	/* Inline code */
}

:not(pre) > code {
	background: hsl(40 75% 50% / .2);
	border-radius: .2em;
	padding: .3em .3em .2em;
}

img {
	max-width: 100%;
}

main {
	width: 37rem;
	width: var(--content-width);
	max-width: 90vw;
	margin: 0 auto auto;
	text-align: center;
}

h1 {
	font-weight: normal;
}

a {
	color: inherit;
}

img[property=image] {
	display: block;
	margin: 0 auto .5em;
	max-width: 5em;
	border-radius: 50%;
}

p[property=description] {
	text-align: justify;
	hyphens: auto;
	font-kerning: normal;
}

header {
	text-align: center
}

header h1 {
	margin-bottom: 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: min-content;
	padding: 0 calc(50% - 37rem / 2 - .5em);
	padding: 0 calc(50% - var(--content-width) / 2 - .5em);
	background: hsl(190, 50%, 93%)
}

nav a {
	text-decoration: none;
}

nav a[aria-current] {
	background: hsl(190, 60%, 80%);
}

nav div {
	display: flex
}

nav div:first-of-type a {
	display: flex;
	padding: .5em 1em;
	align-items: center;
	box-sizing: border-box;
	min-width: min-content
}

nav div:first-of-type a:hover {
	box-shadow: 0 -.3em #0ac inset;
}

nav div.social a {
	flex: none;
	width: 1.5em;
	padding: .5em;
	text-indent: -999em;
	overflow: hidden;
	background: no-repeat center;
	background-origin: content-box;
	transition: .3s;
	transition-property: filter;
	mix-blend-mode: multiply
}

nav div.social a:not(:hover):not(:focus) {
	filter: grayscale(100%);
}

nav div.social a.twitter {
	background-image: url(../img/twitter.svg)
}

nav div.social a.twitter:not(:hover):not(:focus) {
	filter: brightness(120%) grayscale(100%);
}

nav div.social a.mastodon {
	background-image: url(../img/mastodon.svg)
}

nav div.social a.mastodon:not(:hover):not(:focus) {
	filter: brightness(120%) grayscale(100%);
}

nav div.social a.github {
	background-image: url(../img/github.svg)
}

nav div.social a.github:not(:hover):not(:focus) {
	filter: brightness(800%) grayscale(100%);
}

@media (max-width: 480px) {
	nav div {
		font-size: 80%;
		margin: 0 auto
	}
}

.talks > h1 {
	border-bottom: 2px solid;
	font-size: 120%;
}

[property=event] {
	text-align: right;
	font-size: .9rem
}

[property=event] h1 a {
	margin-left: 0
}

[property=event] h1 a.slides {
	background: orange;
}

[property=event] h1 a.audio {
	background: #0bd;
}

[property=event] h1 a.video {
	background: yellowgreen;
}

[property=event] h1 a.paper {
	background: #b7d;
}

[property=event] h1 a:hover {
	background: slategray;
}

h1[property=talk] {
	width: auto
}

h1[property=talk] .mv-item-bar {
	position: static;
	float: right;
	opacity: 1;
	border-top: 0;
	border-bottom: 0;
	font-size: 75%
}

h1[property=talk] .mv-item-bar:empty {
	display: none;
}

button.mv-add.mv-add-talk {
	display: none;
}

[property=title] {
	font-weight: bold;
	text-align: inherit;
}

main.pubs {
	text-align: justify
}

main.pubs h1 {
	text-align: center;
}

main.pubs li a:hover {
	background: #F06;
	color: white;
}

main.pubs span.title,
	main.pubs span.title,
	main.pubs span.journal {
	font-style: italic;
}

main.pubs span.vol {
	font-weight: bold;
}

main.pubs span.isbn {
	font-variant: small-caps;
}

main.pubs a.paper {
	display: inline-block;
	vertical-align: .1em;
	padding: .4em .4em .25em;
	margin-left: .5em;
	color: white;
	text-shadow: 0;
	font-size: 75%;
	line-height: 1;
	text-transform: uppercase;
	border-radius: .3em;
	background: #b7d;
}
