---
title: "Talks"
includes: "<link rel='stylesheet' href='https://get.mavo.io/stable/mavo.min.css'><link rel='stylesheet' href='css/talks.css'>"
---

<main mv-bar="no-login" mv-app mv-storage="https://github.com/svgeesus/svgeesus.github.io/data.json">

<section class="talks">
	<h1>[count(talk)] sessions at [count(event)] events ([count(upcoming)] events upcoming)</h1>

	<article mv-multiple property="event" mv-order="desc">
		<meta property="upcoming" content="[date &gt; now]" />

		<h1 mv-multiple property="talk">
			<div class="mv-item-bar mv-ui"></div>
			<span property="title" mv-default>TBD</span>
			<span property class="type" mv-editor="#talk-type"></span>
			<a property class="video" target="_blank">Video</a>
			<a property class="audio" target="_blank">Audio</a>
			<a property class="paper" target="_blank">Paper</a>
			<a property class="slides" target="_blank">Slides</a>
		</h1>
		<h2>
			<a property="url" target="_blank">
				<span property="name"></span>
			</a>
		</h2>
		<p class="date"><time property="date"></time></p>
		<address class="flag-[country]">
			<span property="city"></span>,
			<span property="country" mv-editor="#countries"></span>
		</address>
		<p class="comment" property></p>
		<p class="comment" style="display: [iff(feedback, block, none)]">
			<a property="feedback" target="_blank">Feedback</a>
		</p>
	</article>
</section>

</main>

<div hidden  mv-app="countries" mv-source="https://projects.verou.me/countries.json" class="mavo mv-keep-unhandled">
	<select id="countries">
		<option value="[code]" property="country" mv-multiple typeof>[name]</option>
	</select>

	<select id="talk-type">
		<option selected>Talk</option>
		<option>Keynote</option>
		<option>Workshop</option>
		<option>Panel</option>
		<option>Round Table</option>
		<option>Paper</option>
		<option>Tutorial</option>
	</select>
</div>

<script src="https://get.mavo.io/stable/mavo.min.js"></script>
