{% if not post.data.draft %}
<article id="{{post.fileSlug}}">
	<h2>
		<a href="{{ post.url | url }}">{{ post.data.title }}</a>
	</h2>
	<div class="summary">
		{% if post.data.summary %}
			{{ post.data.summary | md | safe }}
		{% else %}
			{{ post.data.page.excerpt | md | safe }}
		{% endif %}
	</div>

	<footer class="post-meta">
		{% include "_post-meta.njk" %}
	</footer>
</article>
{% endif %}
