<div class="tags">
	{% for tag in post.data.tags %}
	{% if tag != "blog" %}<a href="/blog/tag/{{ tag }}">{{ tag }}</a>{% endif %}
	{%- endfor -%}
</div>

<p class="date">
	Published on
	<time datetime="{{ page.date.toISOString() }}">{{ page.date.toLocaleString("en-gb", {
		dateStyle: "long"
	}) }}</time>
</p>
