<!DOCTYPE html>
<html lang="en" vocab="https://schema.org/">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}{% if title %} &bull; {% endif %}Chris Lilley</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ includes | safe }}
	<link rel="stylesheet" href="/css/style.css">
	{{ includesEnd | safe }}
</head>
<body>

<header>
	<nav>
		<div>
			<a href="index.html">Home</a>
			<a href="talks.html">Speaking</a>
			<a href="publications.html">Publications</a>
			<a href="cv.html" target="_blank">CV</a>
		</div>
		<div class="social">
			<a class="twitter" href="http://twitter.com/svgeesus" target="_blank" title="Twitter">Twitter</a>
			<a class="github" href="http://github.com/svgeesus" target="_blank" title="Github">Github</a>
		</div>
	</nav>

	<h1>
		<img property="image" src="https://avatars2.githubusercontent.com/u/2506926?v=3&s=460" alt="">

		<span property="name">
			{% if heading %}
				{{ heading }}
			{% elseif title %}
				{{ title }}
			{% else %}
				Chris Lilley
			{% endif %}
		</span>
	</h1>
</header>

{{ content | safe }}

<script src="sitewide.js"></script>

</body>
</html>
